<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>custom_crop.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>10910</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9E2BAF14A672CF3D0C29C7452DF8A3B80BC638FB</string>
				<key>dateExpires</key>
				<string>2022/9/27</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10910</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E2BAF14A672CF3D0C29C7452DF8A3B80BC638FB</string>
						<key>dateExpires</key>
						<string>2022/9/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3YX59KJXTY</string>
						<key>name</key>
						<string>Guangdong Shidi Intelligence Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10910</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E2BAF14A672CF3D0C29C7452DF8A3B80BC638FB</string>
						<key>dateExpires</key>
						<string>2022/9/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3YX59KJXTY</string>
						<key>name</key>
						<string>Guangdong Shidi Intelligence Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10910</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E2BAF14A672CF3D0C29C7452DF8A3B80BC638FB</string>
						<key>dateExpires</key>
						<string>2022/9/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>camera.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3YX59KJXTY</string>
						<key>name</key>
						<string>Guangdong Shidi Intelligence Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10910</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E2BAF14A672CF3D0C29C7452DF8A3B80BC638FB</string>
						<key>dateExpires</key>
						<string>2022/9/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3YX59KJXTY</string>
						<key>name</key>
						<string>Guangdong Shidi Intelligence Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10910</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E2BAF14A672CF3D0C29C7452DF8A3B80BC638FB</string>
						<key>dateExpires</key>
						<string>2022/9/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>photo_manager.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3YX59KJXTY</string>
						<key>name</key>
						<string>Guangdong Shidi Intelligence Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10910</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9E2BAF14A672CF3D0C29C7452DF8A3B80BC638FB</string>
						<key>dateExpires</key>
						<string>2022/9/27</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3YX59KJXTY</string>
						<key>name</key>
						<string>Guangdong Shidi Intelligence Technology Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3YX59KJXTY.com.sdstc.idealab</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>3YX59KJXTY</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>3YX59KJXTY.com.sdstc.idealab</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b3018ff0-d903-4973-b2f9-5d107b9854a9</string>
				<key>dateExpires</key>
				<string>2022/9/27</string>
				<key>name</key>
				<string>idealab_appstore</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3YX59KJXTY</string>
				<key>name</key>
				<string>Guangdong Shidi Intelligence Technology Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
